<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="row">
        <div class="col-6 p-5">
            <h1>Nuevo Usuario</h1>
            <form method="post" id="usuario_form">
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username" name="username" required />
                    <div class="form-text">
                        Debe ser único. Se usará para iniciar sesión.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" required />
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required />
                    </div>
                    <div class="col-md-6">
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos" required />
                    </div>
                </div>

                <div class="mb-3">
                    <label for="rol" class="form-label">Rol</label>
                    <select class="form-select" id="rol" name="rol" required>
                        <option value="" selected disabled>Seleccione un rol...</option>
                        <option value="dueño">Dueño</option>
                        <option value="admin">Administrador</option>
                        <option value="entrenador">Entrenador</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="detalles" class="form-label">Detalles adicionales</label>
                    <textarea class="form-control" id="detalles" name="detalles" rows="3"></textarea>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" required />
                    <div class="form-text">La contraseña debe ser segura.</div>
                </div>

                <div class="d-flex justify-content-end gap-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="reset" class="btn btn-secondary">Limpiar</button>
                </div>
            </form>
        </div>
        <div class="col-6 p-5">
            <br />
            <h1>Lista de Usuarios</h1>
            <div id="usuarios"></div>
        </div>
    </div>
    <script>
        const token = localStorage.getItem("accessToken");
        const refreshToken = localStorage.getItem("refreshToken");
        console.log("Token:", token);
        console.log("Refresh Token:", refreshToken);

        const urlSave = "http://127.0.0.1:8000/users/registrar/";
        const urlRest = "http://127.0.0.1:8000/users/api/";
        const urlRefesh = "http://127.0.0.1:8000/users/token/refresh/";


        document
            .getElementById("usuario_form")
            .addEventListener("submit", function (event) {
                event.preventDefault();

                const formData = new FormData(this);
                const jsonData = {};

                formData.forEach((value, key) => {
                    jsonData[key] = value;
                });

                fetch(urlSave, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        Authorization: "Bearer " + token,
                    },
                    body: JSON.stringify(jsonData),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        console.log("Success:", data);
                        cargarCategorias(); // Recargar la lista de categorías
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                        if (error.status === 401) {
                            // Si el token ha expirado, intenta refrescarlo
                            fetch(urlRefesh, {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({ refresh: refreshToken }),
                            })
                                .then((response) => response.json())
                                .then((data) => {
                                    localStorage.setItem("accessToken", data.access);
                                    fetch(urlSave, {
                                        method: "POST",
                                        headers: {
                                            "Content-Type": "application/json",
                                            Authorization: "Bearer " + data.access,
                                        },
                                        body: JSON.stringify(jsonData),
                                    });
                                });
                        }
                    });
            });

        function cargarCategorias() {
            fetch(urlRest, {
                method: "GET",
                headers: {
                    Authorization: "Bearer " + token,
                },
            })
                .then((response) => {
                    if (response.status === 401) {
                        if (cargarToken()){
                            cargarCategorias();
                        }
                    }else {
                        return response.json();
                    }
                })
                .then((data) => {
                    let div = document.getElementById("usuarios");
                    div.innerHTML = "";
                    console.log(data);
                    data.forEach((usuario) => {
              div.innerHTML += `
                  <p><strong>${usuario.nombre}</strong></p>
                  <p>${usuario.apellidos}</p>
                  <p>${usuario.email}</p>
                  <p>${usuario.rol}</p>
                  `;
                    });
                })
                .catch((error) => {
                    console.log("Error:", error);
                });
        }
        cargarCategorias();
        function cargarToken() {
            fetch(urlRefesh, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ refresh: refreshToken }),
            })
                .then((response) => response.json())
                .then((data) => {
                    localStorage.setItem("accessToken", data.access);
                    return true;
                })
                .catch((error) => {
                    console.error("Error al cargar el token:", error);
                    return false;
                });
        }
    </script>
</body>

</html>