<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Página de ejemplo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <!-- Aqui voy a poner texto-->
                     <h1>Bienvenido al index del 8°A</h1>
                     <br>
                     <p>Estamos en CC7</p>
                     <a href="/login/">login</a>
                     <a href="/users/registrar/">Registrar</a>
                </div>
                <div class="col-6">
                    <!-- Aqui vot a poner una imagen-->
                    <img src="https://i.redd.it/cute-ranni-icon-to-match-cute-malenia-v0-sw4vne50o8p81.jpg?width=600&format=pjpg&auto=webp&s=9a69e7f4374a1f3937a00156ac01ff8b845a16d8" alt="img" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</body>
</html>